<div class="container">
  <div class="row">
    <div class="col-8 mt-5">
      <h2>Update Product : {{product.name}}</h2>

      <form (ngSubmit)="updateProduct()" class="mt-5">
        <div class="form-group mb-2">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name">
        </div>

        <div class="form-group mb-2">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" required [(ngModel)]="product.description" name="description">
        </div>

        <div class="form-group mb-2">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
        </div>

        <div class="form-group mb-2">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity" required [(ngModel)]="product.quantity" name="quantity">
        </div>


        <div class="form-group mt-2">
          <label for="categoryId">Category</label>
          <select class="form-control" id="categoryId" required [(ngModel)]="product.categoryId" name="categoryId">
            <option value="">Select a category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>

        <div class="form-group mb-2">
          <label for="provider">Provider</label>
          <input type="text" class="form-control" id="provider" required [(ngModel)]="product.provider" name="provider">
        </div>

        <button type="submit" class="btn btn-info">Update</button>
      </form>
    </div>
  </div>
</div>
