<div class="container">
  <div class="card card-body mt-5">
    <h2>Create Product</h2>

    <div *ngIf="submitted" class="alert alert-success">
      The product is saved.
    </div>
    <form (ngSubmit)="createProduct()">
      <div class="form-group mt-2">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name">
      </div>

      <div class="form-group mt-2">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="product.description" name="description">
      </div>

      <div class="form-group mt-2">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
      </div>

      <div class="form-group mt-2">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" required [(ngModel)]="product.quantity" name="quantity">
      </div>

      <div class="form-group mt-2">
        <label for="categoryId">Category</label>
        <select class="form-control" id="categoryId" required [(ngModel)]="product.categoryId" name="categoryId">
          <option value="">Select a category</option>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <button type="submit" class="mt-5 btn btn-warning">Save</button>

    </form>
  </div>
</div>
